<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="assets/css/room.css" type="text/css" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
    <title>Telepati</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .full-container {
            width: 100vw;
            height: 100vh;
            /* display: flex;
            flex-wrap: wrap;
            position: relative;
            justify-content: center; */
        }

        .left-bar {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .icons-meet {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 50px;
        }


        #left-button {
            position: absolute;
            left: 30px;
            top: 50%;
            padding: 0;
            border: none;
            background: none;
        }

        #right-button {
            position: absolute;
            right: 30px;
            top: 50%;
            padding: 0;
            border: none;
            background: none;
        }

        .join-form-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .join-form {
            width: 200px;
        }

        .button-custom-new-meeting {
            height: 40px;
        }

        .table-meeting {
            width: 50%;
            height: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <%- include('partials/provider2.ejs') %>
        <div class="full-container">
            <img class="icons-meet" src="/assets/pictures/icons-meeting.png" />
            <p class="text-title" id="rooms-title"></p>
            <table class="table table-striped table-meeting" id="rooms-table" style="display: none;">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Participants</th>
                    </tr>
                </thead>
                <tbody id="rooms-table-body">
                </tbody>
            </table>
            <form id="join-form" class="join-form-container">
                <button id="create-meeting" type="button" class="btn btn-primary">Create Meeting</button>
            </form>
        </div>
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <script src="/javascript/home/home.js"></script>
</body>

</html>